In [ ]:
# Scilicing of list.

In [4]:
mystudents=['danish','rohit','papu','promod','khadar','gayas','amit','anand']

In [1]:
# How to consider the goupr of students out of given list.
# First 3 students only.
# indexing will always start form 0.

In [5]:
print(mystudents[0:3])

# NOTE: Its always exclude the last value. So we need 4 insted of 3.

['danish', 'rohit', 'papu']

In [7]:
# Requirement to print from papu to gayas.
print(mystudents[2:6])   # NOTE: index of gayas is 5 so we need 6, as last value will exclude.

['papu', 'promod', 'khadar', 'gayas']

In [8]:
print(mystudents[:3])  # Will print first 3 element from list as we didn't give starting index.

['danish', 'rohit', 'papu']

In [9]:
print(mystudents[4:])  # Will print all element starting at position 4.

['khadar', 'gayas', 'amit', 'anand']

In [10]:
# Making numeric list

In [12]:
for value in range(1,11):    # Need to give 11 as last value will be excluded.
    print(value)

1
2
3
4
5
6
7
8
9

In [16]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# How to print only even number between 0 to 30
even_num=list(range(0,31,2))
print(even_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [19]:
# How to print odd number between 0 to 30.
odd_num=list(range(1,31,2))
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [23]:
# Range ----> start point, end point, step count
# slicing mystudents[0:3:2]  ------------> take 10 students, print alternet students.

students=['Ankur','narendra','joy','ritesh','atul','khadar','danish','leela','sohail','Reena']
print(students[0:11:2])

['Ankur', 'joy', 'atul', 'danish', 'sohail']

In [24]:
# How to make a duplicate copy of the list.

my_food=['dal','roti','rise','cheken','malai kofta','achar','raita']
frnd_food=my_food[:]
print(frnd_food)

['dal', 'roti', 'rise', 'cheken', 'malai kofta', 'achar', 'raita']