In [ ]:
# Tuples
# - Its an immutable data type in python.
# - We can't change the element of TUPLE as in LIST.
# - Its written in () " small brackets "

# PEP8 : Pricinples
# PEP8 --> Python Enhancement Purpos.

# Code is read more often then it written.

# 1. Indentation.
# 2. Line lenght.
# 3. Blank line.

#for val in values:
    print(val)

In [6]:
tup1=('mon','tue','wed','thu','fri','sat','sun')
print(tup1)  # print the all tuple element

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [16]:
type(tup1)

tuple

In [7]:
print(tup1[4]) # print only 4th position (4th index) element.

fri

In [8]:
print(tup1[4:])  # print all element from 4th element to last element.

('fri', 'sat', 'sun')

In [9]:
print(tup1[2:4])  # print from 2nd to 3rd index element.

('wed', 'thu')

In [10]:
print(tup1[:6])  # print from 0th to 5th index element.

('mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [11]:
print(tup1[:])  # print all element as we didn't given start and end index position.

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [ ]:
# dictionary data type.
# Its a collection of key-value pair, Each key is connected to a value.
# Its written in { } " curly braces"

In [12]:
alian_1={'color':'green','point':5}

# color -> key
# green -> value

print (alian_1)

{'color': 'green', 'point': 5}

In [14]:
# print the value of color or key(color)

print(alian_1['color'])

green

In [15]:
type(alian_1)

dict

In [29]:
student_roll={'danish':297,'Manish':189,'Reshma':45,'Deepak':376,'Mohan':57,'Anita':788}
student_add={'danish':'Hyd','Manish':'delhi','Reshma':'patna','Deepak':'Mumbai','Mohan':'Kolkata','Anita':'Agra'}

# print student roll number and their address:

for val in student_roll:
    print(f"{val} Roll_Number is {student_roll[val]} and address is {student_add[val]}.")

danish Roll_Number is 297 and address is Hyd.
Manish Roll_Number is 189 and address is delhi.
Reshma Roll_Number is 45 and address is patna.
Deepak Roll_Number is 376 and address is Mumbai.
Mohan Roll_Number is 57 and address is Kolkata.
Anita Roll_Number is 788 and address is Agra.

In [35]:
for val in student_roll:
    print(f"{val.title()} Roll_Number is {student_roll[val]} and address is {student_add[val].upper()}.")

Danish Roll_Number is 297 and address is HYD.
Manish Roll_Number is 189 and address is DELHI.
Reshma Roll_Number is 45 and address is PATNA.
Deepak Roll_Number is 376 and address is MUMBAI.
Mohan Roll_Number is 57 and address is KOLKATA.
Anita Roll_Number is 788 and address is AGRA.

In [36]:
for val in student_roll:
    print(f"{val.title()} Roll_Number is \t {student_roll[val]} and address is \t{student_add[val].upper()}.")

Danish Roll_Number is 	 297 and address is 	HYD.
Manish Roll_Number is 	 189 and address is 	DELHI.
Reshma Roll_Number is 	 45 and address is 	PATNA.
Deepak Roll_Number is 	 376 and address is 	MUMBAI.
Mohan Roll_Number is 	 57 and address is 	KOLKATA.
Anita Roll_Number is 	 788 and address is 	AGRA.